
.credit-form {
    display: none;
    width: 20%;
}
.main-btn-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
#label{
    font-size: 11px;
    color: red;
}
#btn{
    margin-top: 40px;
}
#btnac{
    margin-top: 24px;
}